@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-bec-white: #D9D9D9;
  --color-bec-bg:#050505;
  --color-bec: #F5A020;
}

body {
  background: var(--color-bec-bg);
  color: var(--color-bec-white);

}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
