@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-bec-white: #d9d9d9;
  --color-bec-bg: #050505;
  --color-bec: #f5a020;
  --color-bec-transparent: rgba(245, 160, 32, 0.1);
  --color-bec-glow: rgba(245, 160, 32, 0.49);
}

@theme {
  --animate-spinSlow: spin 10s linear infinite;
  --animate-spinSlower: spin 15s linear infinite;
  --animate-spinReverseSlow: spinReverse 10s linear infinite;
  --breakpoint-3xl: 1677px;
}

@keyframes gradientShift {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0% 0;
  }
}

@keyframes spinReverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@theme {
  --breakpoint-15xl: 1440px;
}

body {
  background: #020202;
  color: var(--color-bec-white);
  overflow-x: hidden;
}

.container {
  max-width: 1840px;
  margin: 0 auto;
}

.animate-gradient {
  animation: gradientShift 5s linear infinite;
}

.pause-animation:hover * {
  animation-play-state: paused !important;
}

.slider-glow {
  filter: drop-shadow(0 0 10px var(--color-bec));
}

.slider-bg {
  background: linear-gradient(to right, #070605 0%, #070605 37%, #5d3e07 100%);
}

.header-blur {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
}

.image-outline {
  filter: drop-shadow(0 0 10px #f5a020);
}
