@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-bec-text: #D9D9D9;
  --color-bec-bg:#050505;
}

body {
  background: var(--color-bec-bg);
  color: var(--color-bec-text);
}

